<div class="relative h-[480px] banner">
    <div class="absolute bottom-0 w-full nav">
        <nav class="w-2/5 mx-auto ">
            <ul class="flex items-center justify-center h-12 gap-6">
                <li class="mx-4">
                    <a href="#" class="text-white hover:text-gray-300 whitespace-nowrap">Nhiều sản phẩm</a>
                </li>
                <li class="mx-4 flex items-center">
                    <i class="fa-solid fa-circle-check fa-lg text-yellow-400 mr-2"></i>
                    <a href="#" class="text-white hover:text-gray-300 whitespace-nowrap ">Hỗ trợ 24/7</a>
                </li>
                <li class="mx-4">
                    <a href="#" class="text-white hover:text-gray-300 whitespace-nowrap">Nhiều ưu đãi</a>
                </li>
                <li class="mx-4">
                    <a href="#" class="text-white hover:text-gray-300 whitespace-nowrap">Thanh toán đa dạng</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="py-5 px-16 mx-auto px-[200px]">
    <p class="text-left text-2xl font-medium leading-normal opacity-100 mb-4">SẢN PHẨM</p>
    <div class="gap-4 grid grid-cols-4">
        <div *ngFor="let product of products"
            class="block rounded-sm bg-gray-50 shadow-sm shadow-indigo-100 text-black pb-4">
            <a [routerLink]="['/details', product.id]">
                <img src="{{ product.thumbnail }}" alt="{{ product.title }}" class="h-36 w-full object-cover mb-2" />
                <div class="px-2.5">
                    <div class="font-bold truncate">
                        {{ product.title | uppercase }}
                    </div>
                    <div class="my-1 text-xs flex items-center">
                        Từ {{ product.price | currency : "USD" : "symbol" : "1.2-2" }}đ
                        <span class="ml-4 text-xs line-through text-gray-400">
                            130.000đ
                        </span>
                    </div>
                </div>
            </a>
            <button (click)="addToCart(product)" class="px-2.5">Add to cart</button>
        </div>
    </div>
</div>