<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex items-center justify-center px-6 py-8 h-screen">
    <div
      class="w-full bg-white rounded-lg shadow dark:border max-w-md dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="flex items-center justify-center text-2xl font-bold leading-tight tracking-tight text-gray-900 md:text-4xl dark:text-white"
        >
          Login
        </h1>
        <form
          class="max-w-sm mx-auto"
          (ngSubmit)="handleSubmit()"
          [formGroup]="userForm"
        >
          <div class="mb-4">
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your email</label
            >
            <input
              type="email"
              id="email"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
              placeholder="name@flowbite.com"
              required
              formControlName="email"
            />
            <div
              class="text-danger"
              *ngIf="
                !userForm.get('email')?.valid && userForm.get('email')?.touched
              "
            >
              {{ getErrorMessage("email") }}
            </div>
          </div>
          <div class="mb-4">
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your password</label
            >
            <input
              type="password"
              id="password"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
              placeholder="Password"
              required
              formControlName="password"
            />
            <div
              class="text-danger"
              *ngIf="
                !userForm.get('password')?.valid &&
                userForm.get('password')?.touched
              "
            >
              {{ getErrorMessage("password") }}
            </div>
          </div>
          <div class="flex items-start mb-4">
            <div class="flex items-center h-5">
              <input
                id="terms"
                type="checkbox"
                value=""
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                required
              />
            </div>
            <label
              for="terms"
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >I agree with the
              <a
                href="#"
                class="text-blue-600 hover:underline dark:text-blue-500"
                >terms and conditions</a
              ></label
            >
          </div>
          <button
            type="submit"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Đăng nhập
          </button>
          <div class="text-danger my-2" *ngIf="loginError">
            {{ loginError }}
          </div>
        </form>
        <div class="my-2">
          <a
            [routerLink]="['/register']"
            class="text-blue-600 hover:underline dark:text-blue-500"
            >Đăng ký</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
